<?xml version="1.0"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
  bootstrap="src/test/php/bootstrap.php"
>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./src/main/php</directory>
    </testsuite>
  </testsuites>
</phpunit>
